.footer__button {
    background-color: $tangerine;
    color: $charcoal;
    padding: 0.375em 0.35em;
    font-size: $small;
    font-weight: $regular;
    font-family: $poppins;
    margin-bottom: 0.14em;
    transition: all 0.6s ease;
    &:hover {
        background-color: $white;
        color: $sable;
    }
}