.footer__components {
    text-align: center;
    input {
       border-radius: 0.375em;
       font-family: $poppins;
       font-size: $medium;
       padding: 0.23em 0.245em;

    &:focus {
        background-color: $tangerine;
        color: $sable;
    }
  }
}