.footer {
  background-color: $sable;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  
  p {
    color: $white;
    font-family: $poppins;
    font-size: $medium;
  }
  .footer__col--1 p {
    vertical-align: bottom;
    margin-bottom: 0;
  }
}

.footer__col--2 {
  padding-left: 2em;
  padding-right: 2em;
  
  @include medium {
    padding-left: 0;
  padding-right: 0; 
 }
}


.footer__legal {
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row;  
 }
}

