.header {
    display: flex;
    justify-content: center;
    .header__container {
        width: 97%;
        
        @include small {
            width: 80%;
            
        }
        @include medium {
            width: 70%;
            
        }
        @include large {
            width: 55%;
            
        }
    }
   .header__image {
    width: 100%;
   }
}

