// Color Scheme

// First Color Scheme
$white: #FFF;
$black: #000;
$sable: #060606;
$charcoal: #2E1503;
$gray: #535353;
$light-gray: #929191;

// Second Color Scheme
$tangerine: #FFAF6D;
$orange: #FFA500;


///////////////// 
//Tipography

//Font Family
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Breackpoints

$min-xs: 1px;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1400px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1399px;
$max-xxl: 1800px;

$breakpoints: (
    'xs' : (min-width: $min-xs),
    'sm' : (min-width: $min-sm),
    'md' : (min-width: $min-md),
    'lg' : (min-width: $min-lg),
    'xl' : (min-width: $min-xl),
    'xxl': (min-width: $min-xxl)

) !default;
